version: '3.9'

services:

  postgres:
    image: postgres:13
    container_name: spring1x-postgres
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring1x-app
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    restart: unless-stopped
