server:
  port: 8080

spring:
  application:
    name: api-gateway

  # На gateway это не ускоритель (он WebFlux/Netty), но пусть будет единообразно по проекту
  threads:
    virtual:
      enabled: true

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/users/**
            - id: reminder-service
              uri: http://reminder-service:8082
              predicates:
                - Path=/api/reminders/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
