version: '3.9'

services:
  db:
    image: postgres:13
    container_name: spring2-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring2-app
    ports:
      - "8080:8080"
    depends_on:
      - db
